/* products list item */
.products.section .figure.container .products.list .product.item {
  flex: none;
  width: 100%;
}

@media only screen and (min-width: 48em) {
  .products.section .figure.container .products.list .product.item {
    flex: 1;
    width: 33.3333%
  }
}

/* prodicts list item link */
.products.section .figure.container .products.list .product.item .product.link {
  display: flex;
  min-height: 25vh;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
}
